:root {
    --web-header-search-bar-radius: 3px;
    --web-header-search-bar-input-background-color: #121212;
    --web-header-search-bar-button-background-color: #313131;
    --web-header-search-bar-login-button-color: rgb(0, 132, 255);
}

.web__header {
    background-color: #202020;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    padding: 10px 30px 10px 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.web__header__logo {
    width: 100px;
    display: flex;
    align-items: center;
}

.web__header__searchbar {
    display: flex;
    flex-direction: row;
    width: 30%;
    border: 1px solid var(--web-header-search-bar-button-background-color);
    border-radius: var(--web-header-search-bar-radius);
}

.web__header__searchbar * {
    width: 100%;
}

.web__header__searchbar>form>input {
    font-size: large;
    padding: 10px;

    background-color: var(--web-header-search-bar-input-background-color);
    border-radius: var(--web-header-search-bar-radius) 0 0 var(--web-header-search-bar-radius);

    color: white;

    outline: none;
    border: none;
}

.web__header__searchbar>button {
    cursor: pointer;

    padding: 0 15px;

    background-color: var(--web-header-search-bar-button-background-color);
    border-radius: 0 var(--web-header-search-bar-radius) var(--web-header-search-bar-radius) 0;

    width: fit-content;

    outline: none;
    border: none;
}

.web__header__account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.web__header__account > * {
    margin-left: 30px;
}

.web__header__account hanime-notify-icon {
    display: block;
    border-radius: 100px;
    background-color: red;
    width: 10px;
    height: 10px;
    position: relative;
    top: -25px;
    left: 15px;
}

.web__header__account hanime-account-icon {
    cursor: pointer;
}

hanime-login-button > a {
    padding: 10px 30px;
    border-radius: var(--web-header-search-bar-radius);
    border: 1px solid var(--web-header-search-bar-login-button-color);
    text-decoration: none;
    color: var(--web-header-search-bar-login-button-color);
}

hanime-login-button > a:active {
    background-color: #505050;
}

@media screen and (max-width: 640px) {
    .web__header__searchbar {
        display: none !important;
    }
}