.web__form {
    background-color: #000000D0;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;

    min-width: 380px;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(5px);

    color: #fff;
}

.web__form>h1 {
    font-weight: 100;
    text-align: center;
    margin: 20px 0;
}

.web__form__input {
    width: 100%;
    position: relative;
}

.web__form__input>input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: transparent;

    outline: none;
}

.web__form__input>input:focus~label,
.web__form__input__not__empty~label {
    top: 0px !important;
    font-size: 0.8rem !important;
}

.web__form__input>label {
    position: absolute;
    top: 20px;
    left: 0;

    transition: all 0.3s ease-in-out;
}

.web__form__radio label>input[type="radio"] {
    appearance: none;
}

.web__form__radio label>div {
    display: inline-block;
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}


.web__form__radio label>input[type="radio"]:checked~div {
    filter: none;
}


.web__form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    color: #fff;
    background-color: rgb(0, 132, 255);
    border-radius: 5px;
    cursor: pointer;
}

.web__form button[type="submit"]:disabled {
    background-color: rgb(40, 40, 40);
}

.web__form a {
    color: rgb(0, 132, 255);
    text-decoration: none;
}

hanime-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 640px) {
    .web__form {
        width: 100%;
        margin: 0;
    }

    #signin-form {
        height: 100%;
    }

    hanime-body {
        display: block;
    }
}